<header class="header_sticky">	
	<a href="#menu" class="btn_mobile">
		<div class="hamburger hamburger--spin" id="hamburger">
			<div class="hamburger-box">
				<div class="hamburger-inner"></div>
			</div>
		</div>
	</a>
	
	<div class="container">
		<div class="row">
			<div class="col-lg-3 col-6">
				<div id="logo_home">
					<h1>
						<a href="{{ path('homepage')}}" title="Allo docteur">
							Allô Docteur
						</a>
					</h1>
				</div>
			</div>
			<div class="col-lg-9 col-6">
				<ul id="top_access">
					{#
					<li>
						<a href="{{ path("security_login") }}">
							<i class="pe-7s-user"></i>
						</a>
					</li>

					<li>
						<a href="{{ path("security_registration") }}">
							<i class="pe-7s-add-user"></i>	
						</a>
					</li>#}
				</ul>

				<nav id="menu" class="main-menu">
					<ul>
						
						<li>
							<span>
								<a href="{{ path("doctor_index") }}">
									Docteurs
								</a>
							</span>
						</li>

						<li>
							<span>
								<a href="{{ path("clinic_index") }}">
									Cliniques
								</a>
							</span>
						</li>
{#
						<li>
							<span>
								<a href="{{ path("faq") }}">
									FAQ
								</a>
							</span>
						</li>


						<li>
							<span>
								<a href="{{ path("about_us") }}">
									Nous
								</a>
							</span>
						</li>
#}
						<li>
							<span>
								<a href="{{ path("contact_us") }}">
									Contacts
								</a>
							</span>
						</li>
					</ul>
				</nav>
			</div>
		</div>
	</div>
</header>
